
[class*="col-"]{
    border: 1px solid white;
    padding: 1em;
    background-color: #0462df;
    color: white;
}



.bg-green{
    background-color: #00e165;
    border: 1px solid #0462df;
}

section{
    margin-bottom: 1em;
}

.big{
    height: 100px;
}
