body{
    background-color: lightblue;
}

.container{
    margin-top: 100px;
}

.row{
    height: 50px;
}



.bg-black{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.bg-red{
    background-color: red;
}

.row.closed{
    display: none;
}

.container .col-4:hover .open {
    display: none;
}

.container .col-4:hover .row.closed {
    display: block;
    /* background-color: green; */
}





