body{
    background-color: lightblue;
}

.container{
    padding-top: 100px;
    max-width: 1000px;
    height: 100vh;

    

}

.col-4 .row{
    height: 50px;
}


.bg-black{
    background-color: black;
}

.bg-white{
    background-color: rgba(255, 255, 255, 0.7);
}

.bg-red{
    background-color: red;
}

.row.closed{
    display: none;
}

.container .row:hover .open {
    display: none;
}

.container .row:hover .closed {
    display: flex;
}







